# Домашнее задание №1

В этом домашнем задании вы познакомитесь с платформой Kaggle, а также поучаствуете в небольшом сореврновании, которое поможет закрепить вам знания, полученные на наших лекциях.

Соревнование можно найти по ссылке: https://www.kaggle.com/c/mytracker-mlhomework1-fall20 \
Для того, чтобы присоединиться к этому соревнованию, перейдите по ссылке: https://www.kaggle.com/t/ebaddc30cce54e329c64f7504b274c2c \
Скачать данные можно во вкладке `Data`, в которой находится 3 файла:
 - `train.csv` - обучающая выборка
 - `test.csv` - тестовая выборка
 - `sampleSubmission.csv` - пример сабмита, который вы должны будете загрузить на Kaggle, чтобы предоставить свое решение (аналогичный файл мы с вами сгенерируем в этом ноутбуке)
 
Описание данных вы можете прочитать также на Kaggle.

Несколько основных моментов данного домашнего задания:
 1. Метрикой является RMSE (Root Mean Square Error, https://en.wikipedia.org/wiki/Root-mean-square_deviation).
 2. Тестовая выборка из файла `test.csv` разделена на 2 части: 
  - __Public Leaderboard__ - во время участия вы можете ориентироваться на этот лидерборд, чтобы оценивать ваше решение, а также видеть несколько наших бенчмарков и решения других участников.\
  **Важный момент**. Оценка на Public Leaderboard строится не на всех примерах из `test.csv`, а только на 60% (каких именно узнать нельзя).
  - __Private Leaderboard__ - откроется только после окончания соревнования. Именно по нему мы будем распределять баллы и он состоит из оставшихся 40% примеров из `test.csv`.
 3. Мы надеемся на то, что вы будете не только использовать модели машинного обучения, которые мы будем проходить по ходу лекций, но и попробуете сами изучить данные и сделать прогнозы "руками". Соревнование будет длиться достаточно долго (до 23.11), тем самым будет неплохо, если вы сможете изучить выданные датасеты, чтобы сделать более качественный прогноз.
 4. В день можно отправить до 5 посылок с решением, так что не оставляйте все на последний день.
 5. В конце соревнования ТОП10 участников мы попросим прислать рабочий ноутбук с их решением, чтобы убедиться, что никто не пытался сжульничать, так что держите свое решение "в чистоте", чтобы по окончанию соревнования его можно было показать нам.
 6. В соревновании нет ограничений на модели или подходы, которые вы будете использовать, если они не выходят за рамки данных, предоставленных в данном соревновании.

In [1]:
import pandas as pd
from sklearn.metrics import mean_squared_error

In [2]:
train = pd.read_csv("homework1/train.csv")
test = pd.read_csv("homework1/test.csv")
submission_filename = 'homework1/sampleSubmission.csv'

In [3]:
train.head()

   Store  DayOfWeek        Date  Sales  Customers  Open  Promo  Holiday
0    474          5  2019-04-13   4256        502     1      0      0.0
1    862          5  2019-04-13   2574        319     1      0      0.0
2    108          5  2019-04-13   4687        492     1      0      0.0
3     48          5  2019-04-13   9779       1370     1      0      0.0
4    539          5  2019-04-13   2156        234     1      0      0.0

In [4]:
test.head()

   ID  Store  DayOfWeek        Date  Holiday
0   1     12          6  2019-04-14        0
1   2     12          0  2019-04-15        0
2   3     12          1  2019-04-16        0
3   4     12          2  2019-04-17        0
4   5     12          3  2019-04-18        0

In [5]:
submission = test['ID'].to_frame()
submission['prediction'] = 1
submission.head()

   ID  prediction
0   1           1
1   2           1
2   3           1
3   4           1
4   5           1

In [6]:
submission.to_csv('homework1/sampleSubmission.csv', index=None)